@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background: transparent;
}

#root {
  width: 100vw;
  height: 100vh;
  background: transparent;
}

input, textarea, select {
  user-select: text;
}

[data-drag-header] {
  cursor: grab;
}

[data-drag-header]:active {
  cursor: grabbing;
}
